<div class="jumbotron">
    <h1 class="text-center">FlyHolland Virtual Airlines</h1>

    <div class="lineBlock"></div>
    <h3>Login</h3>
    <form action="/api/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>